
<!DOCTYPE html>
<html>
<head>
	<title>Safetydome Fight</title>
</head>
<body>
	<table>
		<thead>
			<tr>
				<th>Fight ID</th>
				<th>Fighters</th>
				<th>Winner</th>
				<th>Start</th>
				<th>End</th>
			</tr>
		</thead>

		<tbody>
			{% for fight in fights %}
			<tr>
				<td>{{ fight.fight_id }}</a> </td>
				<td><a href="/combatant/{{ fight.one_id }}">{{ fight.one_name }}</a> vs.</td>
				<td><a href="/combatant/{{ fight.two_id }}">{{ fight.two_name }}</a></td>
				<td>{{ fight.winner }}</td>
				<td>{{ fight.start }}</td>
				<td>{{ fight.end }}</td>
			</tr>
			{% endfor %}
			<tbody>
	</table>

</body>
</html>
